body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart{
    width: 800px;
    height: 800px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    
}